.card {
    margin: 15px;
}

.btn-custom-secondary {
    background-color: white; /* Oq fon */
    color: black;
    border: 1px solid #007bff;
}

.btn-custom-secondary:hover {
    background-color: #e0e0e0;
}