.card {
    margin: 15px;
}

.btn-custom-secondary {
    background-color: white; /* Oq fon */
    color: black; /* Matn rangi */
    border: 1px solid #007bff; /* Bootstrap rangida chegarasi */
}

.btn-custom-secondary:hover {
    background-color: #e0e0e0; /* O'ynash holati */
}