.main-div {
    width: 60%;
    height: 60%;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    top: 20%;
    right: 20%;

}

.main-logo {
    display: flex;
    align-items: center;
}

.logo-style {
    width: 50px;
}

.login-form {
    width: 50%;
    position: absolute;
    right: 25px;
}

.form-items {
    display: flex;
}

@media screen and (max-width: 780px) {
    .main-div {
        width: 80%;
        position: absolute;
        left: 10%;
    }

}